.app {
    text-align: center;
    padding-top: 10px;
    background: linear-gradient(139.88deg, #163c5b 2.97%, #853b50 110%);
    min-height: 100vh;
    color: white;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
}
