body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-style {
    text-decoration: none;
    color: inherit;
}

.answer > a {
    color: #f1bf14;
    text-decoration: none;
}

.answer > a:hover {
    text-decoration: underline;
}

/*hide Clerk footer in <UserButton /> component */
.cl-userButtonPopoverFooter {
    display: none;
}

